body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body .flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

body .flex-row .col-05 {
    flex: 0 0 4.34%;
    width: 4.34%;
    padding: 0;
}


body .flex-row .col-1 {
    flex: 0 0 8.34%;
    width: 8.34%;
    padding: 0;
}

body .flex-row .col-2 {
    flex: 0 0 16.67%;
    width: 16.67%;
    padding: 0;
}

body .flex-row .col-3 {
    flex: 0 0 25%;
    width: 25%;
    padding: 0;
}

body .flex-row .col-4 {
    flex: 0 0 33.33%;
    width: 33.33%;
    padding: 0;
}

body .flex-row .col-5 {
    flex: 0 0 41.66%;
    width: 41.66%;
    padding: 0;
}

body .flex-row .col-6 {
    flex: 0 0 50%;
    width: 50%;
    padding: 0;
}

body .flex-row .col-7 {
    flex: 0 0 58.33%;
    width: 58.33%;
    padding: 0;
}

body .flex-row .col-8 {
    flex: 0 0 66.66%;
    width: 66.66%;
    padding: 0;
}

body .flex-row .col-9 {
    flex: 0 0 75%;
    width: 75%;
    padding: 0;
}

body .flex-row .col-10 {
    flex: 0 0 83.33%;
    width: 83.33%;
    padding: 0;
}

body .flex-row .col-11 {
    flex: 0 0 91.66%;
    width: 91.66%;
    padding: 0;
}

body .flex-row .col-115 {
    flex: 0 0 95%;
    width: 95%;
    padding: 0;
}

body .flex-row .col-12 {
    flex: 0 0 100%;
    width: 100%;
    padding: 0;
}




.navbar {
    max-width: 100%;
    width: 95%;
    margin: 0 auto;
}

.navbar nav {
    display: flex;
    justify-content: space-between;
}

.navbar nav .ham-logo {
    display: flex;
    align-items: center;
}

.navbar nav .ham-logo .fa-bars {
    padding: 8px 0;
    border-radius: 50%;
    transition: 0.3s;
    font-size: 1.3em;
}

.navbar nav .ham-logo .fa-bars:hover {
    background: #dedede;
}

.navbar nav .logo {
    display: flex;
    align-items: center;
    margin-left: 15px
}


.navbar nav .logo .fa-youtube {
    font-size: 2em;
    color: red;
    margin-right: 10px;
}

.navbar nav .logo h2 {
    font-weight: 700;
    font-size: 1.8em;
}

.navbar nav .logo h2 sup {
    font-weight: 300;
    font-size: 0.5em;
}


.navbar .flex-row {
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0 10px;
}


body .navbar .input-mic .input-inner input {
    width: 100%;
    padding: 1em;
    margin: 0 auto;
    border: 1px solid #bfbfbf;
    border-radius: 100px;
}


body .flex-row .input-mic {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


body .flex-row .input-mic .input-inner {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 100px;
}


.input-search {
    position: absolute;
    border-left: 1px solid grey;
    background: #f0f0f0;
    right: 0;
    font-size: 1.2em;
    opacity: 0.5;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.input-search>svg {
    padding: 0em 1em;
}


body .input-mic .micro {
    height: 45px;
    width: 45px;
    background: #f0f0f0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.5em;
}


body .navbar .vdo {
    display: flex;
    justify-content: end;
    gap: 2.9em;
    align-items: center;
}

body .navbar .vdo svg {
    font-size: 1.1em;
}

body .navbar .vdo .k {
    height: 2em;
    width: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #45a1bf;
    color: #fff;
    border-radius: 50%;
}



.navbar .bottom-list ul {
    padding: 0;
    display: flex;
    list-style: none;
    gap: 1em;
}


.navbar .bottom-list ul li {
    padding: 4px 1em;
    border-radius: 10px;
    font-size: 1em;
    background: #f0f0f0;
    transition: 0.3s;
    cursor: pointer;
    line-height: 1.5;
}

.navbar .bottom-list ul li:hover {
    background: #c5c4c4;
    color: #fff;
}


.main {
    max-width: 100%;
    width: 95%;
    margin: 0 auto;
}


.main .flex-row .side-bar ul {
    list-style: none;
    padding: 0;
}

.main .flex-row .side-bar ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.main .flex-row .side-bar ul li svg {
    font-size: 1.2em;
}

.main .flex-row .side-bar ul li h3 {
    margin: 0.7em 0;
    font-size: 0.7em;
    font-weight: 400;
}


body .vdo-cards-row {
    padding: 1em 2em;
}

body .vdo-cards-row .flex-row .card .card-img img {
    width: 100%;
    border-radius: 15px;
}

body .vdo-cards-row .flex-row .card .card-txt {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-top: 1em;
}


body .vdo-cards-row .flex-row .card .card-txt img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}



body .vdo-cards-row .flex-row .card .card-txt h3 {
    margin: 0;
    font-size: 1em;
    font-weight: 400;
}

body .vdo-cards-row .flex-row .card .channel {
    margin-top: 1em;
}

body .vdo-cards-row .flex-row .card  .channel-name {
    font-size: 0.8em;
    margin: 0;
    font-weight: 600;
    color: grey;
    margin-top: 1em;
    margin-bottom: 0;
}

body .vdo-cards-row .flex-row .card  .channel-subs {
    font-size: 0.8em !important;
    margin: 0;
    font-weight: 600;
    color: grey;
} 

body .vdo-cards-row .flex-row .card {
    margin-right: 15px;
}


body .vdo-cards-row .flex-row > .col-3{
    margin-bottom: 1em;
}
